.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.user-card {
    width: 100%;
    background-color: #fff;
    border: 3px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #17a2b8;
    height: 135px;
    margin-bottom: 75px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h4, 
.card-body p {
    margin: 20px 0px;
}

.card-footer {
    border-top: 2px solid #999;
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}
